/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--themes-main-font-weight), 'wdth' 100, 'opsz' 0;
  background-color: var(--themes-background);
  background-image: var(--themes-background-image);
  background-size: cover;
  color: var(--themes-main-color);
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
  }
}

.header {
  font-family: var(--additional-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  margin-inline: 20vw;
  padding-block: 15% 2%;
  text-transform: uppercase;
}

.header-decoration {
  font-size: 65px;
  margin-block-end: 3vh;
}

.title {
  font-size: 23px;
  margin-block-end: 3vh;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 5%;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  color: var(--themes-main-color);
  position: relative;
  width: 100%;
  height: 100%;
}

.card__icon-button {
  
}

/* .popup {
  block-size: 100%;
  inline-size: 100%;
  z-index: 1;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}  */