/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--themes-main-font-weight), "wdth" 100,
    "slnt" normal, "opsz" none;
  background-color: var(--themes-background);
  background-image: var(--themes-background-image);
  background-size: cover;
  color: var(--themes-main-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.header {
  font-family: var(--additional-font, fantasy);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  margin-inline: var(--margin-inline-container);
  margin-block-start: 102px;
  padding-inline: clamp(0.875rem, -1.4687rem + 9.9996vw, 7.531rem);
  text-transform: uppercase;
}

.header-decoration {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block-end: 20px;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding-inline-start: 20px;
  margin-block-end: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 2px;
  margin-block-start: 15px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left center;
}

.theme-menu__button:not(:disabled):focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--themes-main-color);
  position: absolute;
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  inset-inline-start: -20px;
}

.container {
  padding-block-start: 100px;
}

.card:last-of-type {
  margin-block-end: 0;
}

.card {
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  margin-inline: var(--margin-inline-container);
  margin-block-end: 50px;
  position: relative;
}

.card__title {
  padding: 4px 10px;
  font-variation-settings: "wght" var(--font-weight-bold);
  font-size: var(--main-font-size);
  border-bottom: 2px solid var(--themes-main-color);
}

.card-decoration {
  overflow: hidden;
}

.card-decoration__text {
  z-index: 2;
  font-family: var(--additional-font, fantasy);
  font-size: 14px;
  position: absolute;
  right: 24px;
  top: 55px;
  color: var(--themes-main-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--themes-background);
}

@supports ((text-stroke: 1px var(--themes-background)) or (-webkit-text-stroke: 1px var(--themes-background))) {
  .card-decoration__text {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

.card-picture {
  inline-size: 100%;
  border-bottom: 2px solid var(--themes-main-color);
}

.card-filter__invert {
  filter: invert(0.1);
}

.card-filter__grayscale {
  filter: grayscale(1);
}

.card-filter__brightness {
  filter: brightness(0.5);
}

.card-filter__hue-rotate {
  filter: hue-rotate(80deg);
}

.card-filter__contrast {
  filter: contrast(2);
}

.card-filter__sepia {
  filter: sepia(1);
}

.card-filter__multiple {
  filter: blur(4px) contrast(1.5);
}

.card-filter__saturate {
  filter: saturate(1.5);
}

.card-paragraph {
  margin-block-start: 25px;
  margin-inline: 25px;
  font-size: var(--main-font-size);
  font-weight: var(--themes-main-font-weight);
}

.card-paragraph:last-of-type {
  margin-block-end: 25px;
}

.card-like__block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-inline-end: 25px;
  margin-block-end: 22px;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.card__icon-button:focus-visible,
.card__icon-button:focus {
  outline: none;
}

.button {
  font-family: var(--additional-font, fantasy);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  z-index: 1;
  position: relative;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px currentColor;
  transition: box-shadow 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text,
.button__icon {
  z-index: 5;
  mix-blend-mode: difference;
  color: var(--button-accent-color);
  position: relative;
}

.save-button {
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-block: 50px 102px;
  background-color: var(--themes-background);
  padding-inline: 20px;
  padding-block: 15px;
  gap: 8px;
}

.popup {
  inline-size: 100%;
  max-inline-size: 355px;
  background-color: var(--themes-background);
  font-family: var(--additional-font, fantasy);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--themes-main-color);
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.popup[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.popup__container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 32px;
  padding-block: 20px;
}

.popup__button {
  inline-size: 100%;
  block-size: 38px;
}

.popup__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

@media (width <= 375px) {
  .page {
    max-inline-size: 375px;
    inline-size: 100%;
  }

  .header {
    width: 100%;
    margin-inline: 0;
  }

  .card {
    margin-inline: 0;
  }

  .card__title {
    padding-block: 5px;
  }

  .card-decoration {
    margin-block-end: 20px;
  }

  .card-decoration__text {
    top: 60px;
    right: 10px;
  }

  .card:first-of-type .card-decoration__text {
    top: 75px;
  }

  .card-paragraph {
    margin-block: 0 26px;
    margin-inline: 25px 29px;
  }
  
  .card-like__block {
    margin-block-end: 21px;
  }

  .save-button {
    flex-direction: column;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .popup  {
    padding-inline: 50px;
  }

  .popup__container  {
    padding-inline: 0;
  }
} 