/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark {
  --themes-main-color: #00cc14;
  --themes-background: #000;
}

.theme-light {
  --themes-main-color: #000;
  --themes-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --themes-main-color: #00cc14;
    --themes-background: #000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --themes-main-color: #000;
    --themes-background: #fff;
  }
}
