/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter';
    --main-font-size: 18px;
    --additional-font: 'PressStart2P';
    --margin-inline-container: 25.8%;
    --font-weight-700: 700;
    --button-accent-color: #fff;
    --heart-accent-color: #f00;
  }